/* h3 {
  color: rgb(177, 112, 237);
  font-size: x-large;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
} */

/* p {
  color: white;
  font-size: large;
  max-width: 60%;
  text-align: center;
} */

/* p.inboxdef {
  align-items: center;
  max-width: 900px;
  padding-right: 10px;
  padding-left: 10px;
} */

.defsimage {
  padding: 1%;
}

/* .Def {
  border: 2ch solid #d14ad4;
  margin-left: 20%;
  margin-right: 20%;
  color: white;
  max-width: 60%;
  justify-content: center;
} */

