h3 {
  color: blueviolet;
  font-size: x-large;
}

p {
  color: white;
  font-size: large;
  max-width: 60%;
  text-align: center;
}

p.inboxdef {
  align-items: center;
  max-width: 700px;
}

.Def {
  border: 2ch solid #d14ad4;
  margin-left: 20%;
  margin-right: 20%;
  color: white;
  max-width: 60%;
  justify-content: center;
}
